@import url("./style.css");

:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-satisfy: "Satisfy", cursive;

  --pink: #f00eeb;
  color: white;
}

body{
  margin: 2.5rem;
}

p {
  line-height: 2rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}


.hero__title {
  font-family: var(--font-satisfy);
  margin-top: 120px;
  text-align: center;
  font-size: 6rem;
  color: var(--pink);
  -webkit-text-stroke: 2px white;
}

.about {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about__info {
  width: 50vw;
}

.about__title, .famousBooks__title, .funFact__title {
  color: white;
  margin-bottom: 1rem;
  font-size: 4rem;
  font-family: var(--font-satisfy);
}


.famousBooks{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 6rem;
}

.famousBooks__title{
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.famousBooks__book, .flip__container{
  height: 200px;
  margin-top: 1rem;
}

.flipper{
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip__container:hover .flipper{
  transform: rotateY(180deg);
}

.flip--front, .flip--back{
  position: absolute;
  /* width: 100%; */
  height: 100%;
  backface-visibility: hidden ;
}

.funFact{
  margin-top: 6rem;
}
.funFact__title{
  margin-top: 2rem;
}

.funFact__info{
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;

}

.funFact__text{
  margin-right: 2rem;
}

.funFact__image{
  height: 50vh;
}