@import url("./style.css");
@import url("./buttons.css");



body {
  margin: 2.5rem;
}

p {
  line-height: 2rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.hero__title {
  font-family: var(--font-satisfy);
  margin-top: 120px;
  text-align: center;
  font-size: 6rem;
  color: var(--pink);
  -webkit-text-stroke: 2px white;
}

.about {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about__info {
  width: 50vw;
}

.about__title,
.famousBooks__title,
.funFact__title,
.inspiration__title, .quiz__title {
  color: white;
  margin-bottom: 1rem;
  font-size: 4rem;
  font-family: var(--font-satisfy);
}

.famousBooks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 6rem;
}

.famousBooks__title {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.famousBooks__book,
.flip__container {
  height: 200px;
  margin-top: 1rem;
}

.flipper {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip__container:hover .flipper {
  transform: rotateY(180deg);
}

.flip--front,
.flip--back {
  position: absolute;
  /* width: 100%; */
  height: 100%;
  backface-visibility: hidden;
}

.funFact {
  margin-top: 6rem;
  position: relative;
}
.funFact__title {
  margin-top: 2rem;
}

.funFact__info {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.funFact__text {
  margin-right: 2rem;
}

.funFact__image {
  height: 50vh;
}

.inspiration {
  margin-top: 6rem;
  text-align: center;
  position: relative;
  
}

.inspiration__movies {
  margin-top: 2rem;
}

.ag-smoke-4 {
  
  /* width: 61.4em; */

  z-index: -3;
  position: absolute;
  top: 12em;
  right: 0;

  -webkit-animation: an-smoke-3 6s ease-in-out infinite;
  -moz-animation: an-smoke-3 6s ease-in-out infinite;
  -o-animation: an-smoke-3 6s ease-in-out infinite;
  animation: an-smoke-3 6s ease-in-out infinite;
}
.ag-smoke__delay-1 {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
.ag-smoke__delay-2 {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}

.quiz{
  text-align: center;
  margin-bottom: 5rem;
}


.quiz__title{
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.quiz__button{
  text-decoration: none;
  color: white;
  background-color: var(--pink);
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-top: 2rem;
  font-weight: 600;
}


@-webkit-keyframes an-smoke-3 {
  0% {
    opacity: 0;

    -webkit-transform: translateY(10%) rotate(0.01deg);
    transform: translateY(10%) rotate(0.01deg);
  }
  50% {
    opacity: 0.9;
  }
  to {
    opacity: 0;

    -webkit-transform: translate(-10%, 5%) rotate(0.01deg);
    transform: translate(-10%, 5%) rotate(0.01deg);
  }
}
@-moz-keyframes an-smoke-3 {
  0% {
    opacity: 0;

    -moz-transform: translateY(10%) rotate(0.01deg);
    transform: translateY(10%) rotate(0.01deg);
  }
  50% {
    opacity: 0.9;
  }
  to {
    opacity: 0;

    -moz-transform: translate(-10%, 5%) rotate(0.01deg);
    transform: translate(-10%, 5%) rotate(0.01deg);
  }
}
@-o-keyframes an-smoke-3 {
  0% {
    opacity: 0;

    -o-transform: translateY(10%) rotate(0.01deg);
    transform: translateY(10%) rotate(0.01deg);
  }
  50% {
    opacity: 0.9;
  }
  to {
    opacity: 0;

    -o-transform: translate(-10%, 5%) rotate(0.01deg);
    transform: translate(-10%, 5%) rotate(0.01deg);
  }
}
@keyframes an-smoke-3 {
  0% {
    opacity: 0;

    -webkit-transform: translateY(10%) rotate(0.01deg);
    -moz-transform: translateY(10%) rotate(0.01deg);
    -o-transform: translateY(10%) rotate(0.01deg);
    transform: translateY(10%) rotate(0.01deg);
  }
  50% {
    opacity: 0.9;
  }
  to {
    opacity: 0;

    -webkit-transform: translate(-10%, 5%) rotate(0.01deg);
    -moz-transform: translate(-10%, 5%) rotate(0.01deg);
    -o-transform: translate(-10%, 5%) rotate(0.01deg);
    transform: translate(-10%, 5%) rotate(0.01deg);
  }
}
