@import url('../css/buttons.css');
:root {
  --principal: #1d86f0;
  --secundaria: #02203f;
  --pink: #f00eeb;
  --verde: #4caf50;
  --vermelho: #f44336;
  --font-satisfy: "Satisfy", cursive;
  --font-montserrat: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
}

body {
  background: linear-gradient(180.63deg, #1d86f0 -22.48%, #02203f 99.46%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  font-family: var(--font-montserrat);
}

main {
  width: 100%;
  height: 100vh;
}

section {
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin: 0.5rem 0 1rem 0;
  color: var(--pink);
  -webkit-text-stroke: 2px white;
  font-family: var(--font-satisfy);
}

/* classe para centralizar textos, paragrafos */
.center {
  text-align: center;
}

/* div class questao com numero da questao e askQuestion */
.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#numQuestion {
  text-align: center;
  width: 2rem;
  height: 2rem;
  display: block;
  background: var(--principal);
  color: #fff;
  padding: 6px 10px 4px 8px;
  border-radius: 50%;
}

#askQuestion {
  margin-left: 1rem;
}

/* article que acomoda a questao completa */
.questions {
  user-select: none;
  background: #fff;

  padding: 1.5rem 1.5rem 1rem 1.5rem;
  border: 1px solid #ececec;
  border-radius: 5px;
  margin-bottom: 0.625rem;
  position: relative;
}

.questions ol li {
  border: 1px solid var(--principal);
  display: block;
  margin-bottom: 0.625rem;
  padding: 1rem;
  border-radius: 8px;
}

.questions ol li:hover {
  background: var(--secundaria);
  color: white;
  cursor: pointer;
}

.blocked {
  display: none;
}

.blocked li:hover {
  display: none;
}

#instructions {
  font-size: 1rem;
  color: white;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.625rem;
  border-radius: 8px;

  display: flex;
  justify-content: center;
}

#warning {
  color: var(--principal);
}

#copy {
  margin-top: 0.625rem;
  font-size: 0.75rem;
  color: white;
}

#gameOver {
  width: 50%;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}


/* ANIMACAO */

/* Animar o input */
@keyframes piscar {
  0% {
    filter: drop-shadow(0 0 15px var(--principal));
    -webkit-filter: drop-shadow(0 0 15px var(--principal));
    -moz-filter: drop-shadow(0 0 15px var(--principal));
    -o-filter: drop-shadow(0 0 15px var(--principal));
    -ms-filter: drop-shadow(0 0 15px var(--principal));
  }
  100% {
  }
}

.animar {
  animation: piscar 0.75s infinite alternate;
}

.aparecer {
  animation: aparecer 0.5s infinite alternate;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.correct {
  background: var(--verde);
  animation: aparecer 0.1s infinite alternate;
}

.wrong {
  background: var(--vermelho);
  animation: aparecer 0.1s infinite alternate;
}

.score {
  padding: 1rem;
  border-radius: 8px;
  background: #03a9f4;
  font-size: 2rem;
}
