@import url("../css/buttons.css");
@import url("../css/style.css");
/* 
body{
  height: max-content;
} */
/* .quiz{
  height: max-content;
} */

#quiz__content {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quiz__title {
  text-align: center;
  font-size: 4rem;
  margin: 0.25rem 0 1rem 0;
  color: var(--pink);
  -webkit-text-stroke: 2px white;
  font-family: var(--font-satisfy);
  line-height: 1.2;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  color: var(--secundaria);
}

#numQuestion {
  text-align: center;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--principal);
  color: #fff;
  border-radius: 50%;
}

#askQuestion {
  margin-left: 1rem;
}

.questions {
  user-select: none;
  background: #fff;
  color: var(--secundaria);

  padding: 1.5rem 1.5rem 1rem 1.5rem;
  border: 1px solid #ececec;
  border-radius: 5px;
  margin-bottom: 0.625rem;
  position: relative;
}

.questions ol li {
  border: 1px solid var(--principal);
  display: block;
  margin-bottom: 0.625rem;
  padding: 1rem;
  border-radius: 8px;
}


.blocked {
  display: none;
}

.blocked li:hover {
  display: none;
}

#instructions {
  font-size: 1.2rem;
  text-align: center;
  color: white;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.625rem;
  border-radius: 8px;

  display: flex;
  justify-content: center;
}

#warning {
  /* margin-top: 2rem; */
  color: white;
  text-align: center;
}

#gameOver {
  width: 100%;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

/* ANIMACAO */

/* Animar o input */
@keyframes blink {
  0% {
    filter: drop-shadow(0 0 15px var(--principal));
    -webkit-filter: drop-shadow(0 0 15px var(--principal));
    -moz-filter: drop-shadow(0 0 15px var(--principal));
    -o-filter: drop-shadow(0 0 15px var(--principal));
    -ms-filter: drop-shadow(0 0 15px var(--principal));
  }
  100% {
  }
}

.animate {
  animation: blink 0.75s infinite alternate;
}

.show {
  animation: show 0.5s infinite alternate;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.correct {
  background: var(--verde);
  animation: show 0.1s infinite alternate;
}

.wrong {
  background: var(--vermelho);
  animation: show 0.1s infinite alternate;
}

.score {
  padding: 1rem;
  border-radius: 8px;
  background: #03a9f4;
  font-size: 2rem;
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
  #numQuestion {
    padding: 0;
  }
  #gameOver {
    width: 50%;
    margin: 4rem 0;
  }
}
@media screen and (min-width: 1024px) {
  #quiz__content{
    height: 100vh;
  }

  .questions ol li:hover {
    background: var(--secundaria);
    color: white;
    cursor: pointer;
  }
}