:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-satisfy: "Satisfy", cursive;

  --principal: #1d86f0;
  --secundaria: #02203f;
  --pink: #f00eeb;
  --verde: #4caf50;
  --vermelho: #f44336;
}

body {
  background: linear-gradient(180.63deg, #1d86f0 -22.48%, #02203f 99.46%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  font-family: var(--font-montserrat);
}

footer {
  text-align: center;
  color: white;
  margin: 2rem 0;
}
