body{
    background:  linear-gradient(180.63deg, #1D86F0 -22.48%, #02203F 99.46%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

    font-family: var(--font-montserrat);
}